#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
}
.card {
 width: 300px;
 border: 1px solid white;
 padding: 20px;
 text-align: center;
 width: 300px;
 border-radius: 5px;
 background-color:pink ;
}
.card p{
  margin:20px 0px;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius:50% ;
}
.card button{
padding: 10px 20px;
background-color:white ;
color: black;
border: none;
border-radius:5px;
}